<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitProject</title>
</head>
<body>
    <h1  style="color: green ;" >Header</h1>
    <h3> <a href="/login">login</a> </h3>
    <h3> <a href="/contact">contact</a> </h3>
    <hr>
    
    <%- body %>

    <hr>
    <h1>this text is after git hub</h1>
    <h1>Footer</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, reprehenderit. Error, neque a sed, ducimus voluptatibus velit laboriosam sint voluptates harum exercitationem, cum tempore asperiores fuga esse dolorem! Tempore, possimus.</p>
</body>
</html>